{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ form.title }}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'form-builder/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/jquery-ui.css' %}"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <img src="{% static 'form-builder/img/LBK_regular_logo.png' %}"/>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h1 class="content__title">{{ form.title }}</h1>

            {% if form.short_description %}
                <div class="well">{{ form.short_description }}</div>
            {% endif %}
            <div class="content__form-wrap">
                <form method="post" enctype="multipart/form-data" onsubmit="submitForm(this); return false;">
                    {% csrf_token %}
                    <div id="form-builder" data-config='{{ form.get_ui_config }}'></div>
                    <input type="hidden" value="{{ form.id }}" name="form"/>
                    <input type="submit"  class="btn btn-primary" value="{% trans form.save_button_text|default:'Save' %}"/>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static "form-builder/js/vendor.js" %}"></script>
<script src="{% static "form-builder/js/form-render.min.js" %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static "form-builder/js/main.js" %}"></script>
</body>
</html>