{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ form.title }}</title>
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'form-builder/css/main.css' %}"/>
  <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/jquery-ui.css' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Barlow|Lato|Open+Sans|Roboto+Condensed|Roboto:400,400i,600,700" rel="stylesheet">
  <script type="application/javascript">
      var storageApiUrl = '{% url 'api:core/formstorages-list' version='v2' %}?format=json',
          companyId = '{{ company_id }}';
  </script>
  <style>
    * {
      font-family: '{{ company.company_settings.font }}', 'Source Sans Pro', sans-serif;
    }
    .color-default {
     background-color: #28A3FC;
    }
    .color-labour {
      background-color: #f58926;
    }
    .color-indigo {
      background-color: #3f51b5;
    }
    .color-teal {
      background-color: #009688;
    }
    .color-brown {
      background-color: #795548;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse color-{{ company.company_settings.color_scheme }}">
  {% if company.company_settings.logo %}
    <img src="{{ company.company_settings.logo.url }}"/>
  {% else %}
    <img src="{% static 'form-builder/img/LBK_regular_logo.png' %}" />
  {% endif %}
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1 class="content__title">{{ company }}</h1>
      <h2 class="content__title">{{ form.title }}</h2>

      {% if form.short_description %}
        <div class="well">{{ form.short_description }}</div>
      {% endif %}
      <div class="content__form-wrap">
        <form method="post" enctype="multipart/form-data" onsubmit="submitForm(this); return false;">
          {% csrf_token %}
          <div class="alert alert-danger all-errors hidden" role="alert">
            <ul></ul>
          </div>
          <div id="form-builder" data-config='{{ form.get_ui_config }}'>
            <h4 align="center">{% trans 'Loading' %}...</h4>
          </div>
          <input type="hidden" value="{{ form.id }}" name="form"/>
          <input type="submit" class="btn btn-primary" value="{% trans form.save_button_text|default:'Save' %}"
                 style="display: none"/>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static "form-builder/js/vendor.js" %}"></script>
<script src="{% static "form-builder/js/form-render.min.js" %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static "form-builder/js/main.js" %}"></script>
</body>
</html>
