{% extends "admin/change_select2_list.html" %}
{% load admin_urls admin_static admin_list admin_conditions %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "admin/css/admin.acitivities.css" %}"/>
{% endblock extrahead %}

{% block result_list %}
  {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
  {% activity_result_list cl extra_conditions %}
  {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}
