<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="https://unpkg.com/blaze">
    </head>
    <body>
    <div class="o-container o-container--xlarge c-text">
        <h3 class="c-heading c-heading--large">
            MYOBapi implementation demo
        </h3>
        <p>To sign out from my.MYOB or revoke access to company files
            <a class="c-link" href="https://secure.myob.com/oauth2/" target="_blank">go here</a>.
        </p>

        {% block content %}
        {% endblock %}
    </div>
    </body>
</html>
