{% extends "payment/base.html" %}
{% load i18n l10n static %}

{% block content %}
{% localize on %}
  <h2 class="document-title">{{ master_company.name }}</h2>
  <div class="group">
    <div class="left text">
      <span>{{ master_company.get_hq_address.address.street_address }}</span><br>
      <span>{{ master_company.get_hq_address.address.get_city_address }}</span><br>
      <span>A.B.N. {{ master_company.get_formatted_abn }}</span><br>
      <span>PH {{ master_company.primary_contact.contact.phone_mobile }}</span><br>
      <span>F {{ master_company.get_hq_address.phone_fax }}</span><br>
      <span>{{ master_company.primary_contact.contact.email }}</span><br>
      <span>{{ master_company.website }}</span>
    </div>
    <div class="right">
      <img src="{% if master_company_logo %}{{ DOMAIN }}{{ master_company_logo }}{% else %}{{ DOMAIN }}/assets/img/logo.svg{% endif %}"
           alt="Logo" width="100" style="width: 100px"><br>
    </div>
  </div>

  <div class="delim"></div>

  <h3 align="document-name">Tax Invoice</h3>

  <p class="inner-block">
    <span class="title sm">Bill To:&nbsp;</span>
    <span>{{ company.name }}</span>
    <br>
    <span class="title sm">&nbsp;</span>
    <span>{{ company.get_hq_address.address.street_address }}</span>
    <br>
    <span class="title sm">&nbsp;</span>
    <span>{{ company.get_hq_address.address.get_city_address }}</span>
  </p>
  <p class="inner-block">
    <span class="title">Invoice No:&nbsp;</span>
    <span class="value">{{ invoice.number }}</span>
    <br>
    <span class="title">Date:&nbsp;</span>
    <span class="value">{{ invoice.date }}</span>
    <br>
    <span class="title">Your Order No:&nbsp;</span>
    <span class="value">{{ invoice.order_number }}</span>
  </p>

  <table class="list">
    <thead>
      <tr>
        <th>Date</th>
        <th>Units</th>
        <th>Notes</th>
        <th>Code</th>
        <th>Rate</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for line in lines %}
      <tr>
        <td>{{ line.date }}</td>
        <td>{{ line.units }}</td>
        {% if show_candidate %}
            <td>{{ line.notes }}<br>
                {{ line.timesheet.job_offer.job.position.short_name }} - {{ line.timesheet.job_offer.candidate_contact }}</td>
        {% else %}
            <td>{{ line.notes }}<br></td>
        {% endif %}
        <td>{{ line.vat.name }}</td>
        <td>${{ line.unit_price }}</td>
        <td>${{ line.amount }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="group">
      <div class="left" style="width: 50%; margin-right: 0">
          <span class="inner-block lg">
            <span class="title" style="width: 10em">Terms:&nbsp;</span>
            <span class="value wrap">{{ company.get_terms_of_payment }}</span>
          </span><br>

          <span class="inner-block lg">
            <span class="title" style="width: 10em">Customer ABN:&nbsp;</span>
            <span class="value wrap">{{ company.get_formatted_abn }}</span>
          </span><br>

          <span class="inner-block lg">
            <span class="title" style="width: 10em">Comment:&nbsp;</span>
            <span class="value wrap">All accounts overdue will accrue interest at the rate of 0,13% per day</span>
          </span>
      </div>
      <div class="right" style="width: 40%;">
          <table class="price" border="0">
              <tr>
                  <td class="padding">Subtotal:<br> GST(10%):</td>
                  <td class="padding">${{ invoice.total }}<br> ${{ invoice.tax }}</td>
              </tr>
              <tr>
                  <td class="padding border" style="font-size: 14px; line-height: 14px; font-weight: 600">Total:<br> <span style="font-size: 8px; line-height: 10px; opacity: 0.4">Include GST</span></td>
                  <td class="padding border" style="font-size: 14px; font-weight: 600">${{ invoice.total_with_tax }}</td>
              </tr>
              <tr>
                  <td>Balance Due:</td>
                  <td>${{ invoice.total_with_tax }}</td>
              </tr>
          </table>
      </div>
  </div>

  <div class="delim"></div>

  <div>{{ master_company.company_settings.invoice_template | safe }}</div>

{% endlocalize %}
{% endblock %}
